<h2 class="title is-3">
  {{#if guild.icon}}
  <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png" alt="{{guild.name}}" width="32" style="border-radius: 50px; margin-right: 8px" />
  {{/if}}
  {{guild.name}}
</h2>

<div class="columns">
  <form action="#" class="column">
    {{#if conf.global}}
    <div class="columns">
      {{#each conf.global}}
      {{#isnt @key 'id'}}
      {{#isnt @key 'name'}}
      <div class="field column is-one-third">
        <label class="label">{{@key}}</label>
        <div class="control">
          <input class="input" type="text" value="{{this}}" placeholder="{{@key}}" name="{{@key}}">
        </div>
      </div>
    {{/isnt}}
    {{/isnt}}
    {{/each}}
    </div>
    {{else}}
    <article class="message is-danger">
      <div class="message-header">
        <p>Oh snap!</p>
      </div>
      <div class="message-body">
        The global configuration was not found
      </div>
    </article>
    {{/if}}
  </form>
  <nav class="panel column is-one-third">
    <p class="panel-heading is-size-4">
      Channels
    </p>
    {{#each channels}}
    {{#isnt @key "undefined"}}
    <p class="panel-heading is-size-6">
      {{@key}}
    </p>
    {{/isnt}}
    {{#each this}}
    <a class="panel-block is-active" href="{{host}}/dashboard/guilds/{{../../guild.id}}/{{id}}">
      <span class="panel-icon">
        <i class="fa fa-file-text-o"></i>
      </span>
      #{{name}}
    </a>
    {{/each}}
    {{/each}}
  </nav>
</div>
