<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />
  <!-- Bulma Version 0.6.0 -->
  <link rel="stylesheet" href="{{url '/assets/css/bulma.css'}}" />
  <link rel="stylesheet" href="{{url '/assets/css/admin.css'}}" />
</head>
<body>
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="{{url '/'}}">
          {{bot.user.username}}
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{url '/'}}">Home</a>
          <a class="navbar-item {{#if user}}is-active{{/if}}" href="{{url '/dashboard'}}">Dashboard</a>
          <a class="navbar-item {{#if commands}}is-active{{/if}}" href="{{url '/commands'}}">Commands</a>
          <a class="navbar-item" href="https://discordapp.com/oauth2/authorize?client_id={{bot.user.id}}&permissions=67193856&scope=bot">Invite</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a href="{{url '/logout'}}" class="button is-dark is-outlined">
              Logout
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </nav>

  <script src="{{url '/assets/js/jquery.3.2.1.min.js'}}"></script>

  <div class="container">
    {{#if err}}
    {{{body}}}
    {{else}}
    <div class="columns">
      <div class="column is-3">
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li>
              <a href="{{url '/dashboard'}}" {{#unless statistics}}class="is-active"{{/unless}}>
                Dashboard
              </a>
            </li>
            {{#includes bot.config.owner user.id}}
            <li>
              <a href="{{url '/dashboard/admin/statistics'}}" {{#if statistics}}class="is-active"{{/if}}>
                Statistics
              </a>
            </li>
            {{/includes}}
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        {{#if guilds}}
        <section class="hero is-info welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Welcome {{user.username}}#{{user.discriminator}}
              </h1>
            </div>
          </div>
        </section>
        <br>
        {{/if}}

        {{{body}}}
      </div>
    </div>
    {{/if}}
  </div>

  <script>
  document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
  </script>


  {{!-- // <script src="{{url '/assets/js/tether.min.js'}}"></script> --}}
  {{!-- // <script src="{{url '/assets/js/bootstrap.min.js'}}"></script> --}}
  {{!-- // <script src="{{url '/assets/js/now-ui-kit.js'}}"></script> --}}
</body>
</html>
